{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "react", "jest"],
  "rules": {
    "prettier/prettier": ["warn"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": { "version": "17" }
  },
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
